<!-- Generated template for the Teste component -->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Componentes</ion-title>
      <ion-buttons right>
          <button ion-button small icon-only>
              <ion-icon name="switch"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    {{text}}
    <!--<form>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>Endereço:</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label>CEP:</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label stacked>CEP:</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>-->

    <button ion-button color="secondary">
        <ion-icon name="trash"></ion-icon>
    </button>
    <button ion-button outline color="danger">
        Meu botão
    </button>
    <button ion-button clear only-icon color="dark">
        <ion-icon name="warning"></ion-icon>
    </button> <br/>
    <button ion-button outline round>Meu botão</button>
    <button ion-button full color="danger">Meu botão</button>
    <button ion-button block color="dark" outline>Meu botão</button>
    <ion-icon name="appstore"></ion-icon>

    <ion-list>
        <ion-list-header color="dark" icon-only>
            <ion-icon name="wifi"></ion-icon>
        </ion-list-header>
        <ion-item color="secondary">Primeiro item</ion-item>
        <ion-item color="secondary">Primeiro item</ion-item>
        <ion-item color="secondary">Primeiro item</ion-item>
        <ion-item-divider color="dark">Divisor</ion-item-divider>
        <ion-item icon-only color="danger">
            <ion-icon name="medical"></ion-icon>
        </ion-item>
        <ion-item icon-only color="danger">
            <ion-icon name="wifi"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Rodapé</ion-title>
  </ion-toolbar>
</ion-footer>